.page-container{
    background: #F6F8FC;

.back{
    margin-top: 10px;
    margin-left: 115px;
    background: none;
    border:none;
}

.heading-content{
    .company-name{
        margin-top: 10px;
        margin-left: 115px;
        color: #2F2F2F;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 41px;
    }
    
    .nse{
        color: #2F2F2F;
        margin-left: 115px;
        font-size: 22px;
    }
    .nse-value{
        border-radius: 4px;
        margin-left: 8px;
        background: #B9DD4E;
        color: #FEFEFE;
        text-align: center;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    
    }
    .bse{
        color: #2F2F2F;
        margin-left: 253px;
        margin-top: -41px;
        font-size: 22px;
        position: absolute;
    }
    .bse-value{
        position: absolute;
        border-radius: 4px;
        margin-left: 311px;
        margin-top: -35px;
        background: #B9DD4E;
        color: #FEFEFE;
        text-align: center;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    
    }
    .sector{
        color: #2F2F2F;
        margin-left: 393px;
        margin-top: -40px;
        font-size: 22px;
        position: absolute;
    }
    .sector-value{
        position: absolute;
        border-radius: 4px;
        margin-left: 488px;
        margin-top: -33px;
        color: #96B82F;
        text-align: center;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    
    }
    .sensex-position-arrow{
        border-radius: 4px;
        background: #B9DD4E;
        height: 42px;
        width: 98px;
        margin-top: -51px;
        margin-left: 1173px;
        .position-arrow{
            color: #FFF;
            font-family: Inter;
            font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px; /* 107.692% */
        }
    }
    .position-percentage{
        position: absolute;
        margin-top: -50px;
        margin-left: 1279px;
        color: var(--dark-grey, #161616);
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 125% */
    }
    .position-updated-day{
        position: absolute;
        margin-top: -27px;
        margin-left: 1279px;
        color: #2630A8;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 214.286% */
    }
}

.card-in{ 
    border-radius: 10px;
    margin-top: 20px;
    background: #EFF4FF;
    width: 176px;
    height: 193px;
    margin-left: 10px;
  }
  
  .card-layout{
    margin-top: 13px;
    width: 782px;
    height: 226px;
    margin-left: 111px;
  }
  
  .card-price{ 
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.08);
    width: 304px;
    height: 107px;
    margin-top: 36px;
    margin-right: -93PX;
    margin-left: 124px;
    .oval-color{
        margin-top: 20px;
        height: 72px;
        width: 74px;
        margin-left: 18px;
    }
    .graph-image{
        margin-top: -54px;
        height: 31px;
        width: 33px;
        margin-left: 39px;
    }
    .stock{
        position: absolute;
        margin-top: 28px;
        margin-left: 130px;
        color: #2F2F2F;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;  
    }
    .price{
        position: absolute;
        margin-top: 62px;
        margin-left: 149px;
        color: #2F2F2F;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
    }
    .Rupee-logo{
        width: 15.972px;
        height: 23.958px;
        margin-top: -9px;
        margin-left: 128px;
    }
    .week-Rupee-logo{
        width: 15.972px;
        height: 23.958px;
        margin-top: -32px;
        margin-left: 128px;
    }
  }
  .card-layout{
    font-family: Inter;
    font-style: normal;
    .Ellipse{
        width: 45px;
        height: 46px;
        margin-top: 10px;
      }
      .Ellipse-number{
        color: #000;
        font-size: 30px;
        font-weight: 400;
        line-height: normal;
        margin-top: -41px;
        margin-left: 15px;
      }
      .Position{
        color: #2F2F2F;
        font-size: 22px;
        font-weight: 600;
        line-height: 16px;
        margin-top: 21px;
      }
      .description{
        color: #2F2F2F;
        font-size: 15px;
        font-weight: 400;
        line-height: 29px;
        margin-top: 3px;
      }

  }
  .rectangle-1{
    margin-left: -3px;
    margin-top: -2px;
    height: 424px;
    width: 534px;
  }
  .card-list{
    width: 491px;
    height: 417px;
    margin-top: -226px;
    margin-left: 928px;
  } 
  .card-rating{
    margin-top: -182px;
    width: 782px;
    height: 183px;
    margin-left: 111px;   
  }
  .finstar{
    color: #2F2F2F;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 41px;
  }

  .info{
    position: absolute;
    margin-left: 105px;
    margin-top: 16px;
  }

  .image-1{
    margin-top: -20px;
    width: 253px;
    height: 70px;
    margin-left: 249px; 
  }
  .image-2{
    margin-top: -261px;
    width: 253px;
    height: 70px;
    margin-left: 249px;
  }
  .image-3{
    margin-top: -148px;
    width: 253px;
    height: 70px;
    margin-left: 510px;
  }
  .image-4{
    margin-top: -358px;
    width: 253px;
    height: 70px;
    margin-left: 510px;
  }
  
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.table-title{
    color: #2F2F2F;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 41px;
    margin-left: 18px;
}

.rating-count{
    margin-top: 99px;
    margin-left: -84px;
    color: #2F2F2F;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 41px;
    position: absolute;
}  
}

@media (max-width: 400px) {
  .page-container {
    background: #FFFFFF;
  }

  .back {
    margin-top: 10px;
    margin-left: 115px;
    background: none;
    border:none;
}
}
