<app-header></app-header>
<div class="page-container">
    <div class="page-content">
        <button class="back" (click)="onBack()" alt="back-button"> < Back</button>
        <div class="heading-content">
            <label class="company-name">Oil & Natural Gas Corporation Ltd</label>
            <div class="sensex-content-NSE">
                <label class="nse">NSE :</label>
                <label class="nse-value">ONGC</label>
            </div>
            <div class="sensex-content-BSE">
                <label class="bse">BSE :</label>
                <label class="bse-value">500312</label>
            </div>
            <div class="sensex-content-sector">
                <label class="sector">SECTOR :</label>
                <label class="sector-value">Oil Exploration</label>
            </div>
            <div class="sensex-position">
                <div class="sensex-position-arrow">
                    <img class="arrow-img" src="assets/Arrow.png">
                    <label class="position-arrow">142.5</label>
                </div>
                <div class="sensex-position-percentage">
                    <label class="position-percentage">+1.65(1.17%)</label>
                    <label class="position-updated-day">NSE: Today 3:31PM</label>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col card card-price"> 
                <img class="oval-color" src="assets/oval-green.png">
                <img class="graph-image" src="assets/graph-high.png">
                <label class="stock">Today's High</label>
                <img class="Rupee-logo" src="assets/Rupee-logo.png">
                <label class="price">144.65</label>  
            </div>
            <div class="col card card-price" >
                <img class="oval-color" src="assets/oval-blue.png">
                <img class="graph-image" src="assets/graph-low.png">
                <label class="stock">Today's Low</label>
                <img class="Rupee-logo" src="assets/Rupee-logo.png">
                <label class="price">142.55</label>  
            </div>
            <div class="col card card-price">
                <img class="oval-color" src="assets/graph-left.png">
                <label class="stock">52 Week High</label>
                <img class="week-Rupee-logo" src="assets/Rupee-logo.png">
                <label class="price">194.95</label>  
            </div>
            <div class="col card card-price">
                <img class="oval-color" src="assets/graph-right.png">
                <label class="stock">52 Week Low</label>
                <img class="week-Rupee-logo" src="assets/Rupee-logo.png">
                <label class="price">199.85</label> 
            </div>
        </div>

        <div class="card card-layout row row-cols-1 row-cols-md-3 g-4">
            <div class="col card card-in">
                <img class="Ellipse" src="assets/Ellipse.png">
                <label class="Ellipse-number">8</label>
                <label class="Position">Strengths</label>
                <label class="description">Strong Annual EPS Growth</label>
            </div>
            <div class="col card card-in" >
                <img class="Ellipse" src="assets/Ellipse.png">
                <label class="Ellipse-number">9</label>
                <label class="Position">Weaknesses</label>
                <label class="description">Red Flag: High Interests Payments Compared to Earnings</label>
            </div>
            <div class="col card card-in">
                <img class="Ellipse" src="assets/Ellipse.png">
                <label class="Ellipse-number">3</label>
                <label class="Position">Opportunities</label>
                <label class="description">Brokers Upgraded Recommendation or target price i...</label>
            </div>
            <div class="col card card-in">
                <img class="Ellipse" src="assets/Ellipse.png">
                <label class="Ellipse-number">0</label>
                <label class="Position">Threats</label>
                <label class="description">No Threat for this stock</label>
            </div>
        </div>

        <div class="card card-list row row-cols-1 row-cols-md-3 g-4">
            <img class="rectangle-1" src="assets/Rectagle-1.png"/>
        </div>

        <div class="card card-rating row row-cols-1 row-cols-md-3 g-4">
            <div>
                <img class="info" src="assets/info.png">
                <label class="finstar">Finstar</label>  
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
                <label class="rating-count">3.0(90)</label>
                <img class="image-1" src="assets/image1.png" alt="image-1">
                <img class="image-2" src="assets/image2.png" alt="image-2">
                <img class="image-3" src="assets/image3.png" alt="image-3">
                <img class="image-4" src="assets/image4.png" alt="image-4">
            </div> 
        </div>
    </div>
</div>
