
<header>
    <div class="row">
          <div class="col d-flex align-items-center gap-end">
            <img class="kanini-image"src="assets/Kanini-Logo.png" alt="Kanini">
          </div>
          <div class="col d-flex justify-content-end align-items-center gap-start">
          <button class="btn button-logout" (click)=" onLogout()">
              <img class="lock" src="assets/symbols-lock.png" alt="lock">
              <span class="logout-text">Logout</span>
          </button>
          <img class="Logout-Icon" src="assets/Logout-Icon.png" (click)="onLogout()"/>
          </div>
    </div>
</header>

 